Proyectos de Ingeniería/Documentación/9. Código/Codigo_Node_Red/Node-Red_Flow-Safefry.json
[
    {
        "id": "flow_safefry_v2",
        "type": "tab",
        "label": "SafeFry Pro 🛢️",
        "disabled": false,
        "info": "Sistema profesional de monitoreo de calidad de aceite\nVersion 2.0 - Con control remoto UDP"
    },
    {
        "id": "udp_in",
        "type": "udp in",
        "z": "flow_safefry_v2",
        "name": "📥 UDP Entrada",
        "iface": "",
        "port": "1880",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 130,
        "y": 80,
        "wires": [["json_parse"]]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "flow_safefry_v2",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 80,
        "wires": [["store_data", "debug_raw"]]
    },
    {
        "id": "store_data",
        "type": "function",
        "z": "flow_safefry_v2",
        "name": "📊 Almacenar Datos",
        "func": "flow.set('lastData', msg.payload);\nmsg.payload.timestamp_str = new Date().toLocaleString('es-PE');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 80,
        "wires": [["router"]]
    },
    {
        "id": "router",
        "type": "function",
        "z": "flow_safefry_v2",
        "name": "🔀 Router de Datos",
        "func": "const data = msg.payload;\n\nconst turb = Number(data.turbidez) || 0;\nconst cap = Number(data.capacitancia) || 0;\nconst estado = data.estado || \"DESCONOCIDO\";\nconst pausado = data.pausado || false;\n\nconst turbRaw = Number(data.turbidez_promedio_raw) || 0;\nconst capRaw = Number(data.capacitancia_raw) || 0;\n\nconst estadoCap = data.capacitancia_estado || \"\";\nconst estadoTurb = data.turbidez_estado || \"\";\n\nconst aptoSistema = data.sistema_apto || false;\nconst aptoCap = data.capacitancia_apto || false;\nconst aptoTurb = data.turbidez_apto || false;\n\nreturn [\n    { payload: turb },\n    { payload: cap },\n    { payload: estado },\n    { payload: turb, topic: \"Turbidez (%)\" },\n    { payload: cap, topic: \"Capacitancia (%)\" },\n    { payload: turbRaw },\n    { payload: capRaw },\n    { payload: `${estadoCap} (${cap.toFixed(1)}%)` },\n    { payload: `${estadoTurb} (${turb.toFixed(1)}%)` },\n    { payload: aptoSistema ? \"✅ SISTEMA APTO\" : \"❌ NO APTO\" },\n    { payload: aptoCap ? \"✅ APTO\" : \"❌ NO APTO\" },\n    { payload: aptoTurb ? \"✅ APTO\" : \"❌ NO APTO\" },\n    { payload: pausado ? \"⏸️ PAUSADO\" : \"▶️ ACTIVO\" },\n    { payload: data }\n];",
        "outputs": 14,
        "noerr": 0,
        "x": 730,
        "y": 80,
        "wires": [
            ["gauge_turb"],
            ["gauge_cap"],
            ["text_estado_principal"],
            ["chart_historico"],
            ["chart_historico"],
            ["text_raw_turb"],
            ["text_raw_cap"],
            ["text_estado_cap"],
            ["text_estado_turb"],
            ["text_apto_sistema"],
            ["text_status_cap"],
            ["text_status_turb"],
            ["text_status_pausado"],
            ["tabla_datos"]
        ]
    },
    {
        "id": "debug_raw",
        "type": "debug",
        "z": "flow_safefry_v2",
        "name": "🔍 Debug Datos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 500,
        "y": 20,
        "wires": []
    },
    {
        "id": "gauge_turb",
        "type": "ui_gauge",
        "z": "flow_safefry_v2",
        "name": "Turbidez %",
        "group": "grp_gauges",
        "order": 1,
        "width": "6",
        "height": "5",
        "gtype": "donut",
        "title": "🌊 TURBIDEZ",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "40",
        "seg2": "70",
        "x": 950,
        "y": 40,
        "wires": []
    },
    {
        "id": "gauge_cap",
        "type": "ui_gauge",
        "z": "flow_safefry_v2",
        "name": "Capacitancia %",
        "group": "grp_gauges",
        "order": 2,
        "width": "6",
        "height": "5",
        "gtype": "donut",
        "title": "⚡ CAPACITANCIA",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "50",
        "seg2": "75",
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "text_estado_principal",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_estado",
        "order": 1,
        "width": "12",
        "height": "2",
        "name": "Estado Principal",
        "label": "",
        "format": "<div style='text-align:center; padding: 20px; border-radius: 10px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); box-shadow: 0 10px 30px rgba(0,0,0,0.3);'><font size='7' style='color: white; font-weight: bold; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);'>{{msg.payload}}</font></div>",
        "layout": "row-center",
        "x": 980,
        "y": 160,
        "wires": []
    },
    {
        "id": "text_apto_sistema",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_estado",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Decisión Sistema",
        "label": "",
        "format": "<div style='text-align:center; padding: 10px;'><font size='5' style='font-weight: bold;'>{{msg.payload}}</font></div>",
        "layout": "row-center",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "chart_historico",
        "type": "ui_chart",
        "z": "flow_safefry_v2",
        "name": "Histórico",
        "group": "grp_grafica",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "📈 EVOLUCIÓN TEMPORAL",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "⏳ Esperando datos...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#ff7f0e"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 960,
        "y": 280,
        "wires": [[]]
    },
    {
        "id": "text_raw_turb",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_valores_raw",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "RAW Turbidez",
        "label": "🌊 Turbidez RAW",
        "format": "<div style='text-align:center; font-size: 36px; font-weight: bold; color: #1f77b4;'>{{msg.payload}}</div>",
        "layout": "row-center",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "text_raw_cap",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_valores_raw",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "RAW Capacitancia",
        "label": "⚡ Capacitancia RAW",
        "format": "<div style='text-align:center; font-size: 36px; font-weight: bold; color: #ff7f0e;'>{{msg.payload}}</div>",
        "layout": "row-center",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "text_estado_cap",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_estados_detallados",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Estado Cap",
        "label": "⚡ Capacitancia:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 460,
        "wires": []
    },
    {
        "id": "text_estado_turb",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_estados_detallados",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Estado Turb",
        "label": "🌊 Turbidez:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 520,
        "wires": []
    },
    {
        "id": "text_status_cap",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_estados_detallados",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "Status Cap",
        "label": "Cap:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "text_status_turb",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_estados_detallados",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "Status Turb",
        "label": "Turb:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "text_status_pausado",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_estados_detallados",
        "order": 5,
        "width": "4",
        "height": "1",
        "name": "Status Pausado",
        "label": "Sistema:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 980,
        "y": 700,
        "wires": []
    },
    {
        "id": "tabla_datos",
        "type": "ui_template",
        "z": "flow_safefry_v2",
        "group": "grp_tabla",
        "name": "Tabla Datos Completos",
        "order": 1,
        "width": "12",
        "height": "6",
        "format": "<style>\n.safefry-table { width: 100%; border-collapse: collapse; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: white; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.1); }\n.safefry-table th { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 12px; text-align: left; font-weight: bold; }\n.safefry-table td { padding: 10px 12px; border-bottom: 1px solid #eee; }\n.safefry-table tr:hover { background-color: #f5f5f5; }\n.safefry-table td:first-child { font-weight: 600; color: #555; }\n.badge { display: inline-block; padding: 4px 10px; border-radius: 12px; font-size: 12px; font-weight: bold; }\n.badge-success { background: #d4edda; color: #155724; }\n.badge-danger { background: #f8d7da; color: #721c24; }\n</style>\n<table class=\"safefry-table\">\n<thead><tr><th>📊 Parámetro</th><th>Valor</th><th>Estado</th></tr></thead>\n<tbody>\n<tr><td>⚡ Capacitancia RAW</td><td>{{msg.payload.capacitancia_raw}}</td><td><span class=\"badge\" ng-class=\"{'badge-success': msg.payload.capacitancia_apto, 'badge-danger': !msg.payload.capacitancia_apto}\">{{msg.payload.capacitancia_apto ? '✅ APTO' : '❌ NO APTO'}}</span></td></tr>\n<tr><td>⚡ Capacitancia %</td><td>{{msg.payload.capacitancia | number:1}}%</td><td>{{msg.payload.capacitancia_estado}}</td></tr>\n<tr><td>🌊 Turbidez Sensor 1 RAW</td><td>{{msg.payload.turbidez1_raw}}</td><td>-</td></tr>\n<tr><td>🌊 Turbidez Sensor 2 RAW</td><td>{{msg.payload.turbidez2_raw}}</td><td>-</td></tr>\n<tr><td>🌊 Turbidez Promedio RAW</td><td>{{msg.payload.turbidez_promedio_raw}}</td><td><span class=\"badge\" ng-class=\"{'badge-success': msg.payload.turbidez_apto, 'badge-danger': !msg.payload.turbidez_apto}\">{{msg.payload.turbidez_apto ? '✅ APTO' : '❌ NO APTO'}}</span></td></tr>\n<tr><td>🌊 Turbidez %</td><td>{{msg.payload.turbidez | number:1}}%</td><td>{{msg.payload.turbidez_estado}}</td></tr>\n<tr style=\"background: #f9f9f9; font-weight: bold;\"><td>🎯 DECISIÓN FINAL</td><td>{{msg.payload.estado}}</td><td><span class=\"badge\" ng-class=\"{'badge-success': msg.payload.sistema_apto, 'badge-danger': !msg.payload.sistema_apto}\">{{msg.payload.sistema_apto ? '✅ SISTEMA APTO' : '❌ NO APTO'}}</span></td></tr>\n<tr><td>⏱️ Última actualización</td><td colspan=\"2\">{{msg.payload.timestamp_str}}</td></tr>\n</tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 990,
        "y": 760,
        "wires": [[]]
    },
    {
        "id": "btn_pausar",
        "type": "ui_button",
        "z": "flow_safefry_v2",
        "name": "Pausar",
        "group": "grp_control",
        "order": 1,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "⏸️ PAUSAR",
        "tooltip": "Detener mediciones",
        "color": "#ffffff",
        "bgcolor": "#ff6b6b",
        "icon": "pause",
        "payload": "{\"comando\":\"pausar\"}",
        "payloadType": "json",
        "topic": "",
        "x": 130,
        "y": 280,
        "wires": [["json_to_str"]]
    },
    {
        "id": "btn_reanudar",
        "type": "ui_button",
        "z": "flow_safefry_v2",
        "name": "Reanudar",
        "group": "grp_control",
        "order": 2,
        "width": "4",
        "height": "2",
        "passthru": false,
        "label": "▶️ REANUDAR",
        "tooltip": "Iniciar mediciones",
        "color": "#ffffff",
        "bgcolor": "#51cf66",
        "icon": "play_arrow",
        "payload": "{\"comando\":\"reanudar\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 360,
        "wires": [["json_to_str"]]
    },
    {
        "id": "slider_int",
        "type": "ui_slider",
        "z": "flow_safefry_v2",
        "name": "Intervalo",
        "label": "⏱️ Intervalo de Medición",
        "tooltip": "Ajustar tiempo entre mediciones",
        "group": "grp_control",
        "order": 3,
        "width": "10",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "1000",
        "max": "30000",
        "step": "1000",
        "x": 140,
        "y": 440,
        "wires": [["format_int"]]
    },
    {
        "id": "text_intervalo",
        "type": "ui_text",
        "z": "flow_safefry_v2",
        "group": "grp_control",
        "order": 4,
        "width": "2",
        "height": "1",
        "name": "Valor Intervalo",
        "label": "",
        "format": "{{msg.payload / 1000}}s",
        "layout": "row-center",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "format_int",
        "type": "function",
        "z": "flow_safefry_v2",
        "name": "Format Intervalo",
        "func": "node.send([null, msg]);\nreturn { payload: { comando: \"intervalo\", valor: msg.payload } };",
        "outputs": 2,
        "noerr": 0,
        "x": 330,
        "y": 440,
        "wires": [["json_to_str"], ["text_intervalo"]]
    },
    {
        "id": "json_to_str",
        "type": "json",
        "z": "flow_safefry_v2",
        "name": "JSON→String",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 390,
        "y": 320,
        "wires": [["udp_out", "debug_cmd"]]
    },
    {
        "id": "debug_cmd",
        "type": "debug",
        "z": "flow_safefry_v2",
        "name": "📤 Comando Enviado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "udp_out",
        "type": "udp out",
        "z": "flow_safefry_v2",
        "name": "📤 UDP Salida",
        "addr": "",
        "iface": "",
        "port": "1881",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "broadcast",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "inject_test",
        "type": "inject",
        "z": "flow_safefry_v2",
        "name": "🧪 Test Data",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"timestamp\":12345,\"capacitancia_raw\":3135,\"capacitancia\":45.5,\"capacitancia_estado\":\"BUENO\",\"capacitancia_apto\":true,\"turbidez1_raw\":225,\"turbidez2_raw\":220,\"turbidez_promedio_raw\":223,\"turbidez\":35.2,\"turbidez_estado\":\"BUENO\",\"turbidez_apto\":true,\"sistema_apto\":true,\"estado\":\"✅ APTO\",\"pausado\":false}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [["store_data"]]
    },
    {
        "id": "grp_gauges",
        "type": "ui_group",
        "name": "📊 Indicadores Principales",
        "tab": "tab_safefry",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_estado",
        "type": "ui_group",
        "name": "🚦 Estado del Sistema",
        "tab": "tab_safefry",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_grafica",
        "type": "ui_group",
        "name": "📈 Histórico de Mediciones",
        "tab": "tab_safefry",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_valores_raw",
        "type": "ui_group",
        "name": "🔢 Valores RAW de Sensores",
        "tab": "tab_safefry",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_estados_detallados",
        "type": "ui_group",
        "name": "🔍 Estados Detallados",
        "tab": "tab_safefry",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_tabla",
        "type": "ui_group",
        "name": "📋 Resumen Completo",
        "tab": "tab_safefry",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_control",
        "type": "ui_group",
        "name": "🎛️ Control Remoto",
        "tab": "tab_safefry",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "tab_safefry",
        "type": "ui_tab",
        "name": "🛢️ SafeFry Dashboard Pro",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
